@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 14px;
}

html, body { scroll-behavior: smooth; }

body {
  background-color: #f8faf9;
  color: #0f172a; /* slate-900 */
}

@layer base {
  h1, h2, h3, h4 { @apply tracking-tight; }
}

